In [1]:
import pandas as pd
import numpy as np

In [2]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chippie=pd.read_csv(url, sep='\t')

In [3]:
chippie.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [4]:
chippie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
chippie.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [6]:
chippie.shape[1]

5

In [7]:
chippie.index

RangeIndex(start=0, stop=4622, step=1)

In [8]:
chips = chippie.groupby('item_name').sum().sort_values(['quantity'],ascending=False)
chips.head(5)

                     order_id  quantity
item_name
Chicken Bowl           713926       761
Chicken Burrito        497303       591
Chips and Guacamole    449959       506
Steak Burrito          328437       386
Canned Soft Drink      304753       351

In [9]:
chips = chippie.groupby('choice_description').sum().sort_values(['quantity'],ascending=False)
chips.head(5)

                                                    order_id  quantity
choice_description
[Diet Coke]                                           123455       159
[Coke]                                                122752       143
[Sprite]                                               80426        89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     43088        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...     36041        42

In [10]:
total_items_orders = chippie.quantity.sum()
total_items_orders

4972

In [11]:
chippie.item_price.dtype

dtype('O')

In [12]:
funk=lambda x: float(x[1:-1])
chippie.item_price=chippie.item_price.apply(funk)

In [13]:
chippie.item_price.dtype

dtype('float64')

In [14]:
rev=(chippie['quantity']*chippie['item_price']).sum()
print('revenue was: $'+str(np.round(rev,2)))

revenue was: $39237.02

In [15]:
orders=chippie.order_id.value_counts().count()
orders

1834

In [18]:
chippie['revenue']=chippie['quantity']*chippie['item_price']
chippie.head(5)
chippie.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

In [22]:
chippie.item_name.value_counts().count()

50